@import url(components/banner.css);
@import url(components/header.css);
@import url(components/button.css);
@import url(components/card.css);
@import url(components/footer.css);
@import url(components/faq.css);
@import url(components/container.css);

body {
  font-family: 'Lora', serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

iframe {
	margin-right: 80px;
}
