

.card {
  max-width: 400px;
  background-color: white;
  padding: 32px;
  text-align: left;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
}

.card h2 {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 16px;
}

.card p {
  text-align: justify;
  line-height: 1.6;
}

.video-container {
  display: flex;
  justify-content: flex-end;
}

