.main-container {
  display: flex;
  padding: 32px;
  justify-content: space-between;
}

.left-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1; /* Add this line to make card-container take up available space */
}

.right-container {
  /* Add this new class for the right-container */
  display: flex;
  flex-direction: column;
  gap: 32px;
  flex: 1; /* Add this line to make right-container take up available space */
  align-items: center; /* Add this line to center faq-container */
}
