

.footer {
  background-color: #333;
  padding: 1rem 0;
  color: white;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 32px;
}

.footer p {
  margin: 0;
}

@media screen and (max-width: 767px) {
  .footer-content {
    flex-direction: column;
  }

  .footer p {
    margin-bottom: 16px;
  }
}
